@import '~style/reusable';

.SubCategories {
    @include section;

    &__list {
        @include basic-list;   
    }

    &__item {
        @include basic-list-item;
    }

    &__more-btn {
        @include layout-marginbottom();

        .SubCategories--loading & {display:none;}
    }
}