@import '~style/reusable';

.Details {
    @include section;

    &__table {
        width:100%;
    }

    &__row {
        animation:appear-item .3s cubic-bezier(0.215, 0.610, 0.355, 1) 0s 1 normal both;

        &:nth-child(even) {background-color:#f9f9f9;}

        @for $i from 0 through 20 {
            &:nth-child(#{$i}) {animation-delay:$i * .03s;}
        }
    }

    &__key, &__value {
        padding:15px 20px;
    }

    
}