@import '~spinthatshit/src/loaders';
@import '~style/variables';

.button { 
    padding:.6em 1em; 
    border:1px solid #ddd; 
    border-radius:5px;

    &--reset { 
        background:none;  
        -webkit-appearance: none; 
        font-size:inherit; 
        font-family:inherit;

        &:focus {outline:none;}
    }

    &--fullwidth { 
        display:block; 
        width:100%; 
    }

    &--loading {
        color:transparent;
        position:relative;

        &:before {
            content:"";
            @include loader01($align: middle, $border-size:4px, $size:20px);
            position:absolute;
            left:50%;
            margin-left:-10px;
        }
    }
}

.layout-wrap {
    padding:0 20px;
}

@keyframes appear-item {
    0% {opacity:0; transform:translateX(100px);} 
    100% {opacity:1; transform:translateX(0);}
}

@mixin basic-list {
    list-style: none;
    padding:0;
    margin:0 0 20px 0;
}

@mixin basic-list-item {
    display:block; 
    height:3em; 
    padding:0 20px;
    text-transform: capitalize;
    animation:appear-item .3s cubic-bezier(0.215, 0.610, 0.355, 1) 0s 1 normal both;

    @for $i from 0 through 20 {
        &:nth-child(#{$i}) {animation-delay:$i * .03s;}
    }
    
    &:nth-child(even) {background-color:#f9f9f9;}

    > a {
        align-items: center;
        text-decoration: none; 
        color:inherit; 
        display:flex; 
        height:100%; 
    }
}

@mixin section {
    padding-top:10px;

    &--loading {
        height:calc(100% - 50px);

        &:before {
            content:"";
            left:50%;
            @include loader01($align: middle);
            position:absolute;
            margin-left:-28px;
        }
    }

    &--error {
        height:calc(100% - 50px);
        display:flex;
        flex-direction: row;
        align-items: center;
        > * {display:none;}
    }

    &__error-message {
        display:block;
        text-align:center;
        width:100%;
    }
}

@mixin layout-marginbottom($scale:1) {
    margin-bottom:$scale * $margin;
}