@import './variables.scss';
@import './reusable.scss';

html {font-size:$rootFontSize; -webkit-font-smoothing: antialiased;}

*, *:after, *:before {box-sizing:border-box;}

body {margin:0; font-family:$bodyFontFamily; color:$primaryTextColor;}

.app { 
    overflow-x:hidden;
    
    &__header {
        height:50px; 
        background:#444;
        display:flex;
        align-items:center;
        font-size:1.6em;
        color:#fff;
        padding:0 20px;
        text-transform: capitalize;
    }
}